<!DOCTYPE html>
<html lang="en">
    
<%- include('partials/head', { title: 'About' }) %>

<body>
    <%- include('partials/navbar') %>
    <%= name %>

    <p>Lorem ipsum dolor sit amet consectetur adipissicing elit. Eligendi reiciendis error rerum perspiciatis, doloremque optio adipisci labore veniam esse et quam aspernatur dignissimos dolores? Deleniti dignissimos, laudantium cupiditate cumque nobis harum, iusto qui, ut quod fugiat totam. Excepturi asperiores dolor in consequatur, repudiandae  odio odit doloribus vitae, culpa tenetur!</p>


    <script src="/js/product.js"></script>

</body>
</html>